<% @messages.each do |message| %>
  <% if message.author %>
    <div class="panel panel-primary">
      <div class="panel-heading"><%= message.author.email %></div>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-heading">Anonymous</div>
  <% end %>
    <div class="panel-body">
      <%= raw message.content %>
    </div>
    <div class="panel-footer">
      Posted <%= time_ago_in_words message.created_at %> ago
      <% if !@topic %>
        | <b>Topic: <%= link_to message.topic.title, topic_path(message.topic) %></b>
      <% end %>
      <% if current_user %>
        | <%= link_to 'Show', message %> |
        <%= link_to 'Edit', edit_message_path(message) %> |
        <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
